altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
beautifulsoup4==4.12.3
cachetools==5.5.2
certifi==2024.2.2
charset-normalizer==3.3.2
cmake==3.29.6
Cython==3.0.10
distro==1.9.0
eflomal==0.1
et-xmlfile==1.1.0
filelock==3.15.1
fsspec==2024.6.0
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
groq==0.8.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
lxml==5.1.0
macholib==1.16.3
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pluggy==1.5.0
proto-plus==1.26.1
protobuf==6.31.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.7.3
pydantic_core==2.18.4
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.2.3
pyperclip==1.8.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-docx==1.1.0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sentence-transformers==3.0.1
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sympy==1.12.1
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.2.2
tqdm==4.66.4
transformers==4.41.2
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.0
